.dark-purple {
    background-color: #0C134F;
}

.medium-purple {
    background-color: #1D267D;
}

.purple {
    background-color: #5C469C;
}

.light-purple {
    background-color: #D4ADFC;
}

.dark-grey {
    background-color: rgb(23, 25, 30);
}

.medium-grey {

}

.light-grey {
    background-color: rgb(162, 169, 174);
}