.card {
    width: 223;
    transition: transform .2s ease-in-out;
}

.card:hover {
    transform: scale(1.5);
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

body {
    background-color: rgb(54, 53, 66)
}