/* .card {
    width: 223;
    transition: transform .2s ease-in-out;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

* {
    padding: 0;
    margin: 0;
}

.row {
    /* margin-top: 100px; */
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(41, 41, 41);
    height: 470;
    width: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    /* background-color: rgb(54, 53, 66); */
    background-color:  black;
    color: white;
}

.character {
    background-color: rgb(85, 2, 0);
    overflow: auto;
}

.plot-twist {
    background-color: rgb(0, 19, 101);
    overflow: auto;
}