/* .card {
    width: 223;
    transition: transform .2s ease-in-out;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Open Sans Light'; */
    outline: none !important;
}





html, body {
    max-width: 100%;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    /* background-color: rgb(54, 53, 66); */
    background-color:  rgb(24, 24, 24);
    color: white;
}



/* Index.html */

.page-select-container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-select-input  {
    transition: transform .2s;
    font-family: 'Open Sans Regular';
    font-family: "Percolator";
    cursor: pointer;
    font-size: 1.8em;
    margin: 1%;
    width: 300px;
    height: 80px;
    border-radius: 500px;
}

.page-select-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    transition: transform .2s;
    font-family: 'Open Sans Regular';
    font-family: "Percolator";
    cursor: pointer;
    font-size: 1.8em;
    margin: 1%;
    width: 300px;
    height: 80px;
    border-radius: 500px;
    text-decoration: none;
}

.page-select-input:hover, .page-select-link:hover {
    
    transform: scale(1.1);
    outline: none;
    background-color:rgb(189, 234, 255)
}

/* Modal */

 /* The Modal (background) */
 .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255) !important;
    background-color: #2c2c2c;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 10px solid #3d3d3d;
    border-radius: 30px;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 60%;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* End modal */

/* End Index.html */

/* Table view */

tr.character-row {
    background-color: #7c2d2d;  /* Red background for Type1 cards */
}

tr.plot-twist-row {
    background-color: #27456d;  /* Green background for Type2 cards */
}

tr.location-row {
    background-color: #2c612a;  /* Blue background for Type3 cards */
}

tr.equipment-row {
    /* Default background color for other types of cards */
    background-color: #3f3f3f;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color:  rgb(68, 68, 68);
}

/* End table view */