    
{% load static %}
    
    <div class="banner">
        <a href="/">
        <div class="logo">
            <img src="{% static 'images/vs_logo.png' %}" width="50px" height="50px">
        </div>
        </a>
        <div class="search"></div>
        <div class="user">
            {% if request.session.user_id is defined %}
            <a class="auth-button" href="/login">Sign in</a>
            <a class="auth-button" href="/sign-up">Sign up</a>
        
            {% else %}
            <a href="/profile" style="text-decoration: none; color: white;  width: 100%; display: flex; flex-direction: row; justify-content: center;">
                <img src="{% static 'images/user_icon.png' %}" width="25px" height="25px" style="margin-right: 10px;">
                <p>{{request.session.user_name}}</p>
            </a>
            {% endif %}
        </div>
    </div>

    <style>
.logo, .search, .user {
        width: 10%;
        height: 90%;
    }

    .search {
        width: 50%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Open Sans Light';
        font-size: 1.2em;
    }


    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 7%;
        background-color: #5B58BB;
    }
</style>