{% load static %}
{% load card_tags %}

<div class="toolbar-container">
    <div class="toolbar">
        <div class="input-container">
            <input class="search-input" id="search-input"
            name="q"
            placeholder="Search"
            hx-get="/partial-search/{{deck_id}}"
            {% comment %} hx-get="/add-card/{{deck_id}}" {% endcomment %}
            hx-target="#results"
            hx-trigger="input delay:.5s"
            >
            
            <div class="" style="width: 10%; height: 90%;"></div>

            <div class="view-select-container">
                <select class="view-select" name="view-select" hx-get="/change_display_method/{{deck_id}}" hx-target="#deck-container">
                    <option value="stack" selected>Stack</option>
                    <option value="row">Row</option>
                    <option value="table">Table</option>
                    <option value="grid">Grid</option>
                </select>
            </div>
        </div>
    </div>        
</div>

<section id="results">
    {% comment %} {% include 'partial_results.html' %} {% endcomment %}
</section>


<style>

    .toolbar-container {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toolbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, .1);
        width: 90%;
        height: 60%;
        margin-top: 25px;
        border-radius: 10px;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 50%;
    }

    .view-select {  
        background-color:#17191e;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        border-radius: 2px;
        border: none;
        border: 1px solid grey;
        border-radius: 10px;
        color: #ffffff;
        font-family: 'Open Sans Light';
        font-size: 1.2em;
        {% comment %} padding: 10px 30px 10px 10px; {% endcomment %}
        margin-bottom: 30px;
        {% comment %} width: 400px; {% endcomment %}
        width: 70%;
        height: 100%;
        {% comment %} height: 60px; {% endcomment %}
        outline: none;
        appearance: none;
        text-align: center;
      } 

    .view-select-container {
        height: 100%;
        width: 10%;
    }

    .search-input {
        background-color: rgb(23, 25, 30);
        border: none;
        color: white;
        width: 10%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        border: 1px solid grey;
    }
</style>