{% extends 'base.html' %}

{% load static %}

{% load card_tags %}

{% block content %}

{% include 'templates/partials/purple-banner.html' %}

    <div id="cards">
    </div>

    <div class="deck-button" onClick="addCard()"></div>

    {% comment %} {{ card.uuid }} {% endcomment %}
    {% comment %} <div class="card-object" style="display: inline-block; position: absolute;" id="card">
        {% card card 220 307 %}
    </div>  {% endcomment %}

<script>

    function addCard() {
        var newImage = document.createElement('img');
        newImage.src = '/static/images/cards_low_res/' + json_objects[0].uuid + '.jpg'; // Set the image source URL
        newImage.class = 'card_image';
        document.getElementById('cards').appendChild(newImage);

        json_objects.shift();
    }

    var json_string = '{{card_json|escapejs|safe}}';
    var json_objects = JSON.parse(json_string);

    json_objects = shuffleArray(json_objects);

    console.log(json_objects);

    var offsetX, offsetY;
    var isDragging = false;

    // Event listener for mouse down event
    draggableElement.addEventListener("mousedown", function(event) {
        event.preventDefault();
        // Calculate the offset between mouse click position and element position
        offsetX = event.clientX - draggableElement.getBoundingClientRect().left;
        offsetY = event.clientY - draggableElement.getBoundingClientRect().top;
        isDragging = true;
    });

    // Event listener for mouse move event
    document.addEventListener("mousemove", function(event) {
        if (isDragging) {
            // Update element position based on mouse position
            draggableElement.style.left = event.clientX - offsetX + "px";
            draggableElement.style.top = event.clientY - offsetY + "px";
        }
    });

    // Event listener for mouse up event
    document.addEventListener("mouseup", function() {
        // Stop dragging when the mouse button is released
        isDragging = false;
    });

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            // Generate a random index between 0 and i
            const j = Math.floor(Math.random() * (i + 1));
            
            // Swap elements at i and j
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }

</script>

<style>

    .deck-button {
        position: fixed;
        right: 0;
        bottom: 0;
        background-image: url('/static/images/card_back.jpg');
        width: 140px;
        height: 200px;
        background-size: contain;
    }

    .deck-button:hover {
        cursor: pointer;
    }

    .cards, img {
        user-select: none;
    }

</style>

{% endblock %}