{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

<div class="advanced-container">

    <div class="search-form">

        <form method="get" action="/advanced-search-get/" autocomplete="off">

            {% include "partials/card-search.html" %}

            <input type="submit" value="Search" hidden="true">

        </form>

    </div>

    <div id="results">
        {% include "partials/advanced_search_results.html" %}
    </div>

</div>

<style>

    .advanced-container {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100%;
    }

    #results {
        width: 60%;
        height: 100%;
        overflow: auto;
        background-color: rgb(10, 10, 10);
    }

</style>

{% endblock %}
