{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VS Verse</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Javascript -->
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% comment %} <script src="{% static 'js/dynamic_display_updating.js' %}"></script> {% endcomment %}

</head>
<body>
  {% block content %}{% endblock %}
</body>