{% load static %}

<div class="card" 
    style="
        background-image: url('/static/images/card_templates/{{ image_name }}.png');
        display: flex;
        background-size: cover;
        width: {{width}}px;
        height: {{height}}px;
        {% comment %} width: 147px;
        height: 205px; {% endcomment %}
        {% comment %} width: 223px;
        height: 313px; {% endcomment %}
        border-radius: 18px;
    ">
    <div class="cost" style="
        width: 15%;
        height: 10%;
        margin-left: 2%;
        margin-top: 7%;
        color: #ffcf4f;
        {% comment %} font-size: 100%; {% endcomment %}
        text-align: center;
        font-family: 'badhouse';
        text-shadow: 3px 3px black;
    ">
        <h2 style="font-size:  %;">{{ card.cost }}</h2>
    </div>
    <div class="title"
        style="
            margin-top: 6%;
            width: 70%;
            height: 8%;
            margin-left: 0%;
            font-family: 'Percolator';
            font-size: 1.1em;
            color: rgb(229, 230, 225);
            text-align: center;
        ">
        <p>{{ card.title }}</p>
    </div>
    <div class="version" style="
        height: 5%;
        width: 70%;
        font-family: 'Percolator';
        font-size: 0.8em;
        color: rgb(229, 230, 225);
        margin-top: 14%;
        margin-left: -70%;
        text-align: center;
    ">
        <p>{{ card.version }}</p>
    </div>
    <div class="affiliation" style="
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 4%;
        margin-top: 88.5%;
        margin-left: -82%;
        font-size: 0.6em;
        text-align: center;
        color: rgb(54, 4, 3);
    ">
        <p>{{ card.affiliation }}</p>
    </div>
    <div class="power" style="
        font-family: 'eurostile';
        font-size: 0.8em;
        line-height: 100%;
        margin-top: 95%;
        margin-left: -90%;
        width: 90%;
        height: 19%;
        color: black;
    ">
        <p>{{ card.power }}</p>
    </div>

    <div class="range" style="
        margin-top: 129%;
        margin-left: -77.8%;
        width: 15px;
        height: 15px;
        background-image: url('/static/images/card_templates/{{ range_name }}.png');
        background-size: contain;
    "></div>
    <div class="flight" style="
        margin-top: 123.5%;
        margin-left: -5.1%;
        width: 15px;
        height: 15px;
        background-image: url('/static/images/card_templates/{{ flight_name }}.png');
        background-size: contain;
    "></div>

    <div class="attack" style="
        width: 10%;
        height: 10%;
        margin-top: 122%;
        margin-left: -15%;
        color: #ffcf4f;
        font-size: 1.2em;
        font-family: 'badhouse';
        text-shadow: 2px 2px black;
        text-align: center;
    ">
        <h3>{{ card.attack }}</h3>
    </div>
    <div class="defense" style="
        width: 10%;
        height: 10%;
        margin-top: 122%;
        margin-left: 68%;
        color: #6aa1c0;
        font-size: 1.2em;
        font-family: 'badhouse';
        text-shadow: 2px 2px black;
        text-align: center;
    ">
        <h3>{{ card.defense }}</h3>
    </div>
</div>