{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="image-container" style="position: relative; display: inline-block;">
    <img id="0" src="{% static 'images/'|add:file %}" alt="Image 1" class="overlay-image card" style="width: 223px; transition: transform .2s ease-in-out;">
    {% comment %} <div class="image-text" style="position: absolute; top: 0; right: 0; padding: 10px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.7);">4</div> {% endcomment %}
    <div class="quantity-modify" style="position: absolute; top: 40%; right: 0; transform: translateY(-50%); display: flex; flex-direction: column;">
      {% comment %} <button class="image-button-add" style="position: absolute; top: 0; right: 0; transform: translateY(-50%); background-color: rgba(0, 0, 0, 0.7); color: white; font-weight: bold; transition: opacity 0.3s, visibility 0.3s; width: 30px; height: 30px;">+</button> {% endcomment %}
      {% comment %} <button class="image-button-sub" style="position: absolute; top: 60%; right: 0; transform: translateY(-50%); background-color: rgba(0, 0, 0, 0.7); color: white; font-weight: bold; transition: opacity 0.3s, visibility 0.3s; width: 30px; height: 30px;">-</button> {% endcomment %}
    </div>
</div>
<style>
    .image-button-add + .image-button-sub {
        margin-top: 3em;
    }

    {% comment %} .row {
        background-color: red;
    } {% endcomment %}

    .card {
        padding-right: 15px;
        transition: transform .2s ease-in-out;
        z-index: 5;
    }

    .card:hover {
        position: relative;
        z-index: 9999 !important;
        transform: scale(1.5);
    }
    
</style>