{% comment %} {% load static %}
{% load card_tags %}

<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
 
<div class="container">
    <div class="row character">

        {% for card in deck if card.type = 'character' %}
            {% card file=card.image_name|add:"."|add:card.image_type %}
        {% endfor %}
        
    </div>

    <div class="row plot-twist">
        
    </div>
</div> {% endcomment %}

{% load static %}
{% load card_tags %}

<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="row character">
    {% for card in deck %}
        {% if card.card.type == 'Character' %}
            {% card file=card.image_name|add:"."|add:card.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row plot-twist">
    {% for card in deck %}
        {% if card.card.type == 'Plot Twist' %}
            {% card file=card.image_name|add:"."|add:card.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row equipment">
    {% for card in deck %}
        {% if card.card.type == 'Equipment' %}
            {% card file=card.image_name|add:"."|add:card.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row location">
    {% for card in deck %}
        {% if card.card.type == 'Location' %}
            {% card file=card.image_name|add:"."|add:card.image_type %}
        {% endif %}
    {% endfor %}
</div>

