{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

<div class="page-select-container">
    <input class="page-select-input" type="button" value="Advanced Card Search">
    {% comment %} <input class="page-select-input" type="button" value="Edit Decks"> {% endcomment %}

    <button class="page-select-input" hx-get="{% url 'view_deck' %}" hx-target="#dialog" value="1">
        Edit Deck
    </button>
      

    <input class="page-select-input" type="button" value="Create New Deck">
</div>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
  

{% endblock %}


