{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

<div class="page-select-container">
    <input class="page-select-input" type="button" value="Advanced Card Search">
    {% comment %} <input class="page-select-input" type="button" value="Edit Decks"> {% endcomment %}

    <button class="page-select-input" id="myBtn">
        Edit Decks
    </button>

    <input class="page-select-input" type="button" value="Create New Deck">
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

        <h2>Choose which deck to edit</h2>

      {% comment %} <span class="close">&times;</span> {% endcomment %}

        <div class="modal-titles">
            {% for deck in decks %}
                <a class="edit-deck-button" href="/deck/{{ deck.id }}">{{ deck.title }}</a>
            {% endfor %}
        </div>
    </div>
  
</div>
  

{% endblock %}


