{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

<div class="container">

    <div class="banner">
        <p></p>
    </div>

    <div class="page-select-container">
        {% comment %} <input class="page-select-input" type="button" value="Advanced Card Search"> {% endcomment %}
        <a href="/advanced-search" class="page-select-link">Advanced Card Search</a>
        {% comment %} <input class="page-select-input" type="button" value="Edit Decks"> {% endcomment %}

        <button class="page-select-input page-select-input-modal" hx-get="edit-deck-modal" hx-target="#modal">
            Edit Decks
        </button>

        <button class="page-select-input page-select-input-modal" hx-get="create-deck-modal" hx-target="#modal">
            Create New Deck
        </button>

        <!-- Modal -->
        <div id="modal" class="modal"></div>  

    </div>

    <footer>
        <p>VsVerse made by Connor Kubas</p>
    </footer>

</div>

<style>
    footer {
        width: 100vw;
        height: 5%;
        background-color: black;
        color: rgb(100, 100, 100);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner {
        width: 100vw;
        height: 5%;
        background-color: black;
    }

    #modal-content: {

    }
</style>

{% endblock %}


