{% extends 'base.html' %}

{% load static %}

{% block content %}
<header>
    <div class="title">
        <h1>Card Search</h1>
    </div>
    <div class="search" style="display:flex; align-items: center; justify-content: center;">
        <input class="search-input"
               name="q"
               placeholder="Search for a title"
               hx-get="{% url 'partial_search' %}"
               hx-target="#results"
               hx-trigger="input delay:.5s"
        >
    </div>
</header>
<main>
    <section id="results" style="display:flex; align-items: center; justify-content: center; flex-direction: column;">
        {% include 'partial_results.html' %}
    </section>
</main>
{% endblock %}