{% load static %}
{% load card_tags %}

<div class="row character">
    {% for card in deck %}
        {% if card.card.type == 'Character' %}
            {% card file=card.card.card_image.image_name|add:"."|add:card.card.card_image.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row plot-twist">
    {% for card in deck %}
        {% if card.card.type == 'Plot Twist' %}
        {% card file=card.card.card_image.image_name|add:"."|add:card.card.card_image.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row equipment">
    {% for card in deck %}
        {% if card.card.type == 'Equipment' %}
        {% card file=card.card.card_image.image_name|add:"."|add:card.card.card_image.image_type %}
        {% endif %}
    {% endfor %}
</div>
<div class="row location">
    {% for card in deck %}
        {% if card.card.type == 'Location' %}
        {% card file=card.card.card_image.image_name|add:"."|add:card.card.card_image.image_type %}
        {% endif %}
    {% endfor %}
</div>