{% load static %}
{% load card_tags %}

{% comment %} <div class="row character">
    {% for deck_card in deck %}
        {% if deck_card.card.type == 'Character' %}
            {% card card=deck_card.card.card_image %}
        {% endif %}
    {% endfor %}
</div> {% endcomment %}

<div class="row character">
    {% for deck_card in deck %}
        {% if deck_card.card.type == 'Character' %}  
        <div class="image-container" style="position: relative; display: inline-block;">       
            {% card card=deck_card.card width=223 height=313 %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row plot-twist">
    {% for deck_card in deck %}
        {% if deck_card.card.type == 'Plot Twist' %}    
        <div class="image-container" style="position: relative; display: inline-block;">        
            {% card card=deck_card.card width=223 height=313 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="row equipment">
    {% for deck_card in deck %}
        {% if deck_card.card.type == 'Equipment' %}   
        <div class="image-container" style="position: relative; display: inline-block;">         
            {% card card=deck_card.card width=223 height=313 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="row location">
    {% for deck_card in deck %}
        {% if deck_card.card.type == 'Location' %} 
        <div class="image-container">           
            {% card card=deck_card.card width=223 height=313 %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<style>

    .image-container {
        width: 223px;
        height: 313px;
        margin-right: 15px;
        transition: transform .2s ease-in-out;
        z-index: 5;
        position: relative;
        display: inline-block;
    }

    .image-container:hover {
        position: relative;
        z-index: 9999 !important;
        transform: scale(1.4);
    }

</style>