.dark-purple {
    background-color: #200a42;
}

.medium-purple {
    background-color: #1D267D;
}

.purple {
    /* background-color: #5C469C; */
    background-color: #5B58BB;
}

.light-purple {
    background-color: #D4ADFC;
}

.dark-grey {
    background-color: rgb(23, 25, 30);
}

.medium-grey {
    background-color: rgb(40, 35, 40);
}

.light-grey {
    background-color: rgb(162, 169, 174);
}