{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

{% include 'templates/partials/purple-banner.html' %}

<div class="search-container">

    <div class="left">
        <div class="input-container">
        <div class="form-row">
            <label>Title</label>
            <input class="text" type="text" name="title">
        </div> 
        <div class="form-row">
            <label>Version</label>
            <input class="text" type="text" name="version">
        </div> 
        <div class="form-row">
            <label>Power</label>
            <input class="text" type="text" name="version">
        </div> 
        <div class="form-row">
            <label>Affilition</label>
            <input class="text" type="text" name="version">
        </div> 
        <div class="form-row">
            <label>Cost</label>
            <input class="text" type="text" name="version">
        </div> 
        <div class="form-row">
            <label>Attack</label>
            <input class="text" type="text" name="version">
        </div> 
        <div class="form-row">
            <label>Defense</label>
            <input class="text" type="text" name="version">
        </div> 
        
        <div class="form-row">
            <label>Flight</label>
            <div class="toggle">
                <input type="radio" name="sizeBy" value="weight" id="sizeWeight" />
                <label for="sizeWeight">Yes</label>
                <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions1" checked="checked"/>
                <label for="sizeDimensions1">Either</label>
                <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions2" />
                <label for="sizeDimensions2">No</label>
            </div>

        </div> 
        <div class="form-row">
            <label>Range</label>
            <div class="toggle">
                <input type="radio" name="apple" value="weight" id="applesauce" />
                <label for="applesauce">Yes</label>
                <input type="radio" name="apple" value="dimensions" id="lime" checked="checked"/>
                <label for="lime">Either</label>
                <input type="radio" name="apple" value="dimensions" id="pear" />
                <label for="pear">No</label>
            </div>
        </div> 
        <div class="form-row">
            <label>Rarity</label>
            <label for="rare" value="Rare">Rare</label>
            <input id="rare" value="Rare" type="radio" name="rarity">
            <label for="uncommon" value="Rare">Uncommon</label>
            <input id="uncommon" type="radio" name="rarity">
            <label for="common" value="Rare">Common</label>
            <input id="common" type="radio" name="rarity">
        </div> 
        <input type="radio" name="rarity">
        <select name="type"></select>
        <select name="mutant"></select>
        <select name="expansion"></select>
        </div>

    </div>

    <div class="right">
    </div>

</div>

<style>
    .search-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 93%;
    }

    .input-container {
        width: 70%;
    }

    .form-row {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 1px solid rgb(65, 65, 65);
        align-items: center;
    }

    label {
        font-family: 'Open Sans Light';
        font-size: 1.5em;
        width: 30%;
    }

    .text {
        color: white;
        font-family: 'Open Sans Light';
        font-size: 2em;
        width: 70%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border: 1px solid grey;
        border-radius: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .left {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: rgb(23, 25, 30);
        overflow: auto;
    }
    .right {
        width: 50%;
        height: 100%;
        background-color: rgb(20, 20, 20);
        overflow: auto;
    }
</style>

<style>
    
    /* TOGGLE STYLING */
    .toggle {
        margin: 0 0 1.5rem;
        box-sizing: border-box;
        font-size: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .toggle input {
        width: 0;
        height: 0;
        position: absolute;
        left: -9999px;
    }
    
    .toggle input + label {
        width: 13rem;
        {% comment %} width: 70%; {% endcomment %}
        margin: 0;
        padding: .75rem 2rem;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        {% comment %} border: solid 1px #DDD; {% endcomment %}
        border: solid 1px grey;
        {% comment %} background-color: #FFF; {% endcomment %}
        background-color: #17191e;
        font-size: 1rem;
        line-height: 140%;
        font-weight: 600;
        text-align: center;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
        transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    
        &:first-of-type {
            border-radius: 50px 0 0 50px;
            border-right: none;
        }
    
        {% comment %} &:not(:last-of-type) {
            border-radius: 0;
        } {% endcomment %}
    
        &:last-of-type {
            border-radius: 0 50px 50px 0;
            border-left: none;
        }
    }
    
    .toggle input:hover + label {
        {% comment %} border-color: #213140; {% endcomment %}
        border-color: white;
        cursor: pointer;
    }
    
    .toggle input:checked + label {
        background-color: #5b58bb;
        color: #FFF;
        box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
        border-color: #5b58bb;
        z-index: 1;
    }
    
    .toggle input:focus + label {
        outline: dotted 1px #CCC;
        outline-offset: .45rem;
    }
    
    @media (max-width: 800px) {
        .toggle input + label {
            padding: .75rem .25rem;
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    /* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
    .status {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .status span {
        font-weight: 600;
        color: #B6985A;
    } 
    
    @media (max-width: 800px) {
        .status span:first-of-type {
            display: none;
        }
    
        .status span:last-of-type {
            display: inline;
        }
    }
    
    </style>

{% endblock %}