{% load static %}

<div class="card-search" >
    <div class="cost">
        <input 
            name="cost"
            class="cost-input"
            type="text"
            placeholder="0"
        />
    </div>

    <div class="title">
        <input 
            name="title"
            class="title-input"
            type="text" 
            placeholder="Title"
        />
    </div>

    <div class="version">
        <input 
            name="version"
            class="version-input"
            type="text"
            placeholder="Version"
        />
    </div>

    <div class="affiliation">
        <input
            name="affiliation"
            type="text"
            class="affiliation-input"
            type="text"
            placeholder="Affiliation"
        />
    </div>

    <div class="power">
        <textarea
            name="power"
            class="power-input"
            type="text"
        ></textarea>
    </div>

    <div class="range">
        <input
            name="range"
            class="range-input"
            id="range-input"
            type="checkbox"
        />
        <label for="range-input"></label>
    </div>

    <div class="flight">
        <input
            name="flight"
            class="flight-input"
            id="flight-input"
            type="checkbox"
        />
        <label for="flight-input"></label>
    </div>

    <div class="attack">
        <input
            name="attack"
            class="attack-input"
            type="text"
            placeholder="0"
        />
    </div>

    <div class="defense">
        <input
            name="defense"
            class="defense-input"
            type="text"
            placeholder="0"
        />
    </div>

</div>

<style>

    .card-search {
        background-image: url('../../static/images/vs_blank_card_purple.png');
        display: flex;
        background-size: cover;
        width: 617px;
        height: 861px;
        border-radius: 25px;
    }

    .cost {
        width: 15%;
        height: 10%;
        margin-left: 2%;
        margin-top: 5.5%;
        color: #ffcf4f;
        font-size: 1em;
        text-align: center;
        font-family: 'badhouse';
        text-shadow: 3px 3px black;
    }

    .cost-input {
        text-align: center;
        font-family: 'badhouse';
        font-size: 1.5em;
        outline: none;
        font-size: 3em;
        color: #ffcf4f;
    }

    .title {
        margin-top: 6%;
        width: 65%;
        height: 5%;
        margin-left: 0%;
        font-family: 'Percolator';
        font-size: 1.1em;
        color: rgb(229, 230, 225);
        text-align: center;
    }

    .title-input {
        text-align: center;
        outline: none;
        font-family: 'Percolator';
        font-size: 2.2em;
        color: white;
    }

    .version {
        height: 4%;
        width: 60%;
        font-family: 'Percolator';
        font-size: 0.8em;
        color: rgb(229, 230, 225);
        margin-top: 14%;
        margin-left: -60%;
        text-align: center;
    }

    .version-input {
        outline: none;
        text-align: center;
        font-family: 'Percolator';
        font-size: 1.5em;
        color: white;
    }

    .affiliation {
        width: 90%;
        height: 4%;
        margin-top: 88.5%;
        margin-left: -77%;
        font-size: 1em;
        text-align: center;
        color: rgb(54, 4, 3);
    }

    .affiliation-input {
        text-align: center;
        font-family: 'eurostile';
        font-size: 1em;
        outline: none;
    }

    .power {
        font-family: 'eurostile';
        font-size: 0.8em;
        line-height: 100%;
        margin-top: 95%;
        margin-left: -90%;
        bottom: 130px;
        width: 90%;
        height: 19%;
        color: black;
    }

    .power-input {
        font-size: 2em;
        line-height: 100%;
        outline: none;
        font-family: 'eurostile';  
    }

    .range {
        margin-top: 130%;
        margin-left: -77%;
        width: 30px;
        height: 30px;
    }

    .range-input {
        display: none;
    }

    .range-input + label {
        background-image: url('../../static/images/card_templates/concealed_range.png');
        background-size: 30px 30px;
        display: inline-block;
        object-fit: fill;
        height: 30px;
        width: 30px;
    }

    .range-input:checked + label {
        background-image: url('../../static/images/card_templates/visible_range.png');
        display: inline-block;
        height: 30px;
        width: 30px;
    }

    .flight {
        margin-top: 124%;
        margin-left: -6%;
        width: 30px;
        height: 30px;
    }

    .flight-input {
        display:none;
        object-fit: fill;
    }

    .flight-input + label {
        background-image: url('../../static/images/card_templates/concealed_flight.png');
        background-size: 30px 30px;
        display: inline-block;
        object-fit: fill;
        height: 30px;
        width: 30px;
    }

    .flight-input:checked + label {
        background-image: url('../../static/images/card_templates/visible_flight.png');
        display: inline-block;
        height: 30px;
        width: 30px;
    }

    .attack {
        width: 10%;
        height: 7%;
        margin-top: 123%;
        margin-left: -14%;
        color: #ffcf4f;
        font-size: 1.2em;
        font-family: 'badhouse';
        text-shadow: 2px 2px black;
        text-align: center;
    }

    .attack-input {
        text-align: center;
        font-size: 2.5em;
        font-family: 'Badhouse';
        color: #ffcf4f;
    }

    .defense {
        width: 10%;
        height: 10%;
        margin-top: 121%;
        margin-left: 69%;
        color: #6aa1c0;
        font-size: 1.2em;
        font-family: 'badhouse';
        text-shadow: 2px 2px black;
        text-align: center;
    }

    .defense-input {
        text-align: center;
        font-size: 2.5em;
        font-family: 'Badhouse';
        color: #6aa1c0;
    }

    .cost-input, .title-input, .version-input, .affiliation-input, .power-input, .attack-input, .defense-input, .range-input, .flight-input {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

</style>
