{% load static %}

<div class="menu-bar">
    <a href="/" class="home-button"><img src="{% static 'images/house_icon.png' %}" width="25px" height="25px" style="filter: invert(1);"></a>
</div>

<style>
    .menu-bar {
        display: flex;
        height: 5vh;
        width: 100vw;
        background-color: black;
        align-items: center;
    }

    .home-button {
        margin-left: 2%;
        text-decoration: none;
        color: white;
    }

    .home-button:hover {
        filter: invert(20%);
    }
</style>