{% extends 'base.html' %}

{% load static %}
{% load card_tags %}

{% block content %}

<div class="advanced-wrapper">

    {% include 'partials/menu-bar.html' %}

    <div class="advanced-container">

        <div class="search-form">

            <form method="get" action="/advanced-search-get/" autocomplete="off">

                {% include "partials/card-search.html" %}

                <input type="submit" value="Search" hidden="true">

            </form>

        </div>

        <div id="results">

            <div class="results-info-container">
                <p class="results-info">{{ results_quantity }} Result{{ plural_modifier }}</p>
            </div>

            {% include "partials/advanced_search_results.html" %}
        </div>

    </div>

</div>

<style>

    .results-info-container {
        display: flex;
        align-items: center;
        {% comment %} margin-left: 2%; {% endcomment %}
        width: 100%;
        height: 5%;
        {% comment %} background-color: purple; {% endcomment %}
    }

    .results-info {
        margin-left: 2%;
        font-family: 'Open Sans';
    }

    .advanced-container {
        display: flex;
        width: 100vw;
        height: 95vh;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100%;
    }

    #results {
        width: 60%;
        height: 100%;
        overflow: auto;
        background-color: rgb(10, 10, 10);
    }

    .advanced-wrapper {
        display: flex;
        flex-direction: column;
    }

</style>

{% endblock %}
