

<style>

    .search-container {
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* margin-top: 5%; */
        width: 100%;
        height: 5%;
    }

    .home-button {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans';
    }

    .search-input {
        {% comment %} margin: 5px;
        width: 500px;
        height: 40px;
        border-radius: 2000000px;
        outline: none;
        text-align: center;
        font-size: 1em; {% endcomment %}
    }

    .user {
        {% comment %} height: 100%;
        width: 10%; {% endcomment %}
    }

</style>