{% load static %}
{% load card_tags %}

<div class="column-container">

    <div class="column character-col" style="margin-bottom: 50%;">
        {% for card in deck_cards %}
            {% if card.card.type == 'Character' %}
                <div class="stack-card">
                    <div class="card-hover">
                        {% card card=card.card  width=265 height=369 %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="column plot-twist-col">
        {% for card in deck_cards %}
            {% if card.card.type == 'Plot Twist' %}
                <div class="stack-card">
                    <div class="card-hover">
                        {% card card=card.card  width=265 height=369 %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="column equipment-col">
        {% for card in deck_cards %}
            {% if card.card.type == 'Equipment' %}
                <div class="stack-card">
                    <div class="card-hover">
                        {% card card=card.card  width=265 height=369 %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="column location-col">
        {% for card in deck_cards %}
            {% if card.card.type == 'Location' %}
                <div class="stack-card">
                    <div class="card-hover">
                        {% card card=card.card  width=265 height=369 %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

<style>
    body {
        background-color: rgb(35, 35, 35);
    }

    .stack-card {
        margin-top: -112%;
        margin-right: 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%
    }

    .column-container {
        display: flex;
        justify-content: center;
    }

    .card-hover {
        margin-bottom: 0px;
        transition: margin-bottom 0.6s ease;
   }

   .card-hover:hover {
        margin-bottom: 320px;
   }
</style>